.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f8f9;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav__link {
  position: relative;
  color: #2e2e37;
}

.nav__notification {
  position: absolute;
  left: 18px;
  bottom: 18px;
}
.nav__notification__ellipsis {
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: white;
  position: absolute;
  left: 30px;
  bottom: 30px;
}
